<!DOCTYPE html>
<html>
    <head>
        <title>Jom Hiking</title>
        <link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/main.css">
        <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyARDAyBSEh-ucAFF6OBeaODwKPoNV1JGf4"></script>
        
        <script>
         function loadMap() {
         
            var mapOptions = {
               center:new google.maps.LatLng(3.1390, 101.6869),
               zoom:7
            }
            
            var map = new google.maps.Map(document.getElementById("sample"),mapOptions);
            
            var marker = new google.maps.Marker({
               position: new google.maps.LatLng(3.1390, 101.6869),
               map: map,
            });
         }
      </script>

    </head>
    <body onload = "loadMap()">
         <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="nav-bar header">
             <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="/">Home</a></li>
                <li><a class="navbar-brand" href="/campgrounds">Our Lists</a></li>
                <li><a class="navbar-brand" href="/dev">Info for Developers</a></li>
            
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    
                    <% if(!currentUser){ %>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Sign Up</a></li>
                    <% } else { %>
                    <li><a href="#">Signed In As <%= currentUser.username %></a></li>
                    <li><a href="/logout">Log Out</a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    
    <div class="container">
        
        <% if(error && error.length > 0){ %>
            <div class="alert alert-danger" role="alert">
                <%= error %>
            </div>
        <% } %>
         <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
         <% } %>
    </div>
    

<div class="container">
     <div class="row">
         <div class="col-md-3">
             <p class="lead text-center"></p>
             <div class="list-group">
                 <li class="list-group-item active">Info 1</li>
                 <li class="list-group-item">Info 2</li>
                 <li class="list-group-item">Info 3</li>
             </div>
             <hr>
              <div id = "sample" style = "width:250px; height:352px;"></div>
         </div>
         <div class="col-md-9">
             <div class="thumbnail">
                 <img class="img-responsive" src="<%= campground.image %>">
                 <div class="caption-full">
                     <h4 class="pull-right">$<%= campground.price %>/night</h4>
                     <h4><a><%= campground.name %></a></h4>
                     <p><%= campground.description %></p>
                     <p>
                         <em>Submitted by <%= campground.author.username %></em>
                    </p>
                     <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                     <a class="btn btn-xs btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>
                      <form id="delete-form" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                      <% } %>
                 </div>
             </div>
             <div class="well"> <!-- BELOW Is COMMENT HTML-->
                 <div class="text-right">
                       <a class="btn btn-success"href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment  <i class="fa fa-comments" aria-hidden="true"></i></a>
                 </div>
                 <hr>
                 <% campground.comments.forEach(function(comment){ %>
                     <div class="row">
                         <div class="col-md-12">
                             <strong><%= comment.author.username %></strong>
                             <span class="pull-right">10 days ago</span>
                             <p><%= comment.text %> </p>
                              <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                             <a class="btn btn-xs btn-warning" href="/campgrounds/<%=campground._id %>/comments/<%=comment._id%>/edit">Edit</a>
                         <form id="delete-form" action = "/campgrounds/<%=campground._id %>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                              <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                         </form>
                         <% } %>
                         </div>
                     </div>
                     
                    <% }) %>
                </div>
         </div>
     </div>    
</div>

 <footer class="text-center">
               <hr>
               <p>Copyright <i class="fa fa-copyright" aria-hidden="true"></i>
 2017, Zulhafiz Zaini. All Rights Reserved.<a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i>
</a></p>
 </footer>    

</body>
</html>
